<!DOCTYPE html>
<html>
<header>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">	
</header>
<body>

<div class= "ask" >
<h3 style="color:#36485C; "> <b> DON'T SEE WHAT YOU ARE LOOKING FOR? ASK A QUESTION ! </b></h3><br>   
</div>
<div id = "addform">

<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1"> Select Category:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>ACCOUNTS</option>
      <option>SOCIAL MEDIA </option>
      <option>CONTENT</option>
      <option>DESIGN - DEV </option>
      <option>OTHER</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"> Write your question below: </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-success">ASK</button>

</form>
	
</div> <!-- Div Form --> 
</body>
</html>